/*
* @Author: Administrator
* @Date:   2018-06-29 21:15:00
* @Last Modified by:   Administrator
* @Last Modified time: 2018-06-29 21:41:39
*/
*{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
body{
	background: #333333;
}
.wrap{
	width: 400px;
	height: 450px;/* 
	background: pink; */
	margin-left: 500px;
	margin-top: 100px;
}
.wrap .top{
	width: 400px;
	height: 60px;/* 
	background: yellow; */
}
.wrap .top p{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	line-height: 60px;
	color: white;
}
.wrap .mid{
	width: 400px;
	height: 290px;/* 
	background: skyblue; */
}
.wrap .mid img{
	width: 300px;
	height: 290px;
	margin-left: 50px;
}
.wrap .down{
	width: 300px;
	height: 60px;
	margin-left: 50px;
	margin-top: 20px;
	background:#232323; 
	box-shadow: inset 0 5px 10px -5px #191919,0 1px 0 0 #444;
	border-radius: 100px;
	background-color: #232323;
	padding-top: 10px;
}
.wrap .down p{
	text-align: center;
	color: white;
}